body {
	background-color: white;
}

.container {
	margin:0 auto;
	width:960px;
	font-size: 100%;
	line-height: 1.5;
	
}

/**************************************************
	Typography (Module 3)
	affects the styling of text


**************************************************/

h1,
h2{
	padding: 10px;
	text-align: center;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	font-weight: bold;
	color: #747474;

}

/**************************************************
	Layout
	these rules will affect the physical positioning 
		of element to which they are applied


**************************************************/
nav{
	margin-top: 48px;
	background-color: #ddd;
}

header,
main{
	height:480px;
	margin-top: 24px;
	background: #ddd;
}

main{
	height: 800px;
}

footer{
	height: 150px;
	margin: 24px 0 48px 0;
	background-color: #ddd;
}

main section{
	border: 2px solid black;
	margin:30px;
	height: 200px;
	background-color: white;
	width: 896px;
	
}

/**************************************************
	page width = lb + lm + lp +content + rm + rb +rp
	960 = 2px + 30 px + 0 + content + 30px +2px + 0
	896 = content


**************************************************/
